@import "root";

nav.navbar {
  background: $first-color;
  border-color: #32a1e1;

  .navbar-brand {
    img {
      @include circle(5rem);
      border: 1px solid $fourth-color;
    }
  }
  button.navbar-toggler {
    @include circle(4.5rem);
    border: 1px solid $txt-w;
    box-shadow: none;
    color: beige;

    &:focus {
      box-shadow: none;
    }
    &:hover {
      border-color: #32a1e1;
      box-shadow: none;
    }
    i {
      transition: all 0.3s;
      font-size: 2.5rem;

      &:hover {
        color: #32a1e1;
      }
    }
    &.show i {
      transition: all 0.3s;
      transform: rotate(-90deg);
      transform-origin: center;
    }
  }

  ul {
    li.nav-item {
      @include font-primary;
      font-size: 2.1rem;
      padding: 0rem 1rem;
      margin: 0.5rem 1rem;

      &:last-child {
        border: 1px solid $fourth-color;
        &:hover {
          border-color: #32a1e1;
        }
      }

      .nav-link {
        color: $txt-w;

        &:hover {
          color: #32a1e1;
        }
      }

      a {
        @include reset-anchor;
      }
    }
  }
}

//  Bootstrap lg Breakpoints
@media (max-width: 991.98px) {
  nav.navbar {
    ul {
      li.nav-item {
        padding: 0;
        margin: 0.5rem 0rem;

        &:last-child {
          border: none;
          span {
            padding: 0.7rem 1rem;
            border: 1px solid #32a1e1;
          }
        }
      }
    }
  }
}
